@if (profile) {
<div class="profile-card">
  <div class="user-block">
    <img
      [src]="profile.avatarUrl | imgUrl"
      alt=""
      class="user-avatar"
    />
    <div class="user-info">
      <span class="h6">{{ profile.firstName }} {{ profile.lastName }}</span>
      <span class="regular14">{{ profile.username }}</span>
    </div>
  </div>
  <div class="medium12">
    {{ profile.description }}
  </div>
  <div class="tags">
    @for (name of profile.stack; track name) {
      <app-tag [name]="name"></app-tag>
    }
  </div>
  <div class="buttons">
    <button class="subscribe">
      <span class="btn-bold14">Подписаться</span>
      <img src="/subcribe.svg" alt="" />
    </button>
    <button class="shared">
      <img src="/shared.svg" alt="" />
    </button>
  </div>
</div>
}
