@if (profile) {
<div class="profile-card">
  <div class="user-block">
    <img
      [src]="profile.avatarUrl | imgUrl"
      alt=""
      class="user-avatar"
    />
    <div class="user-info">
      <span class="user-name">{{ profile.firstName }} {{ profile.lastName }}</span>
      <span class="user-nick">{{ profile.username }}</span>
    </div>
  </div>
  <div class="description">
    {{ profile.description }}
  </div>
  <div class="tags">
    @for (name of profile.stack; track name) {
      <app-tag [name]="name"></app-tag>
    }
  </div>
  <div class="buttons">
    <button class="subcribe">
      <span class="subcribe-text">Подписаться</span>
      <img src="/subcribe.svg" alt="" />
    </button>
    <button class="shared">
      <img src="/shared.svg" alt="" />
    </button>
  </div>
</div>
}
