:host {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  padding: 20px 12px;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.sidebar-logo {
  display: inline-block;
  width: 61px;
  height: 74px;
  padding-left: 16px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-links__row {
  position: relative;
  display: flex;
  gap: 12px;
  padding: 8px 16px;
  height: 40px;
  width: 100%;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover, &:focus-visible {
    background-color: var(--dark-hover-color);
    color: var(--primary-color);

    svg path {
      fill: var(--primary-color);
    }
  }

  .count {
    position: absolute;
    display: block;
    text-align: center;
    color: var(--dark-color);
    padding: 1px 6px;
    background-color: var(--primary-color);
    width: 26px;
    height: 18px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.subscribers {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribers-title {
  color: var(--light-75-color);
}

.subscribers-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.subscribers-item {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  cursor: pointer;
}

.subscribers-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.all-subscribers {
  display: flex;
  gap: 11px;
  align-items: center;
  cursor: pointer;
}

.all-subscribers-text {
  color: var(--primary-color);
}

.me {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.me-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.me-img {
  display: inline-block;
  width: 32px;
  height: 32px;
}