:host {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5%;
  height: 100vh;
}

.login-form {
  max-width: 440px;
  width: 100%;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper {
  position: relative;
}

.input {
  border: 1px solid var(--light-color);
  outline: none;
  padding: 12px 20px;
  padding-right: 52px;
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
  border-radius: 2px;
  width: 100%;
  font-family: 'JetBrains Mono';
}

.input-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-login {
  margin-top: 16px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px;
  width: 100%;
  height: 44px;
  border: 1px solid var(--dark-color);
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 800px) {
  :host {
    justify-content: center;
  }

  .login-image {
    display: none;
  }
}